:global(.lm_goldenlayout) {
  background: #000000;

}

:global(.lm_content) {
  background: #1e1e1e;
  color: white;
  overflow-y: overlay;
  width: 100% !important;
}
:global(.lm_content)::-webkit-scrollbar-thumb {
  background-color: #333;
}
:global(.lm_content)::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #666;
}
:global(.lm_content)::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

:global(.lm_dragProxy) :global(.lm_content) {
  box-shadow: none;
}

:global(.lm_dropTargetIndicator) {
  box-shadow: inset 0 0 30px #000000;
  outline: 1px dashed #cccccc;
  transition: all 200ms ease;
}

:global(.lm_dropTargetIndicator) :global(.lm_inner) {
  background: #000000;
  opacity: 0.2;
}

:global(.lm_splitter) {
  background: #000000;
  opacity: 0.001;
  transition: opacity 200ms ease;
}

:global(.lm_splitter):hover {
  background: #fba918;
  opacity: 1;
}

:global(.lm_splitter).lm_dragging {
  background: rgb(252, 189, 63);
  opacity: 1;
}

:global(.lm_header) {
  height: 20px;
  user-select: none;
  background: #35373e;
}

:global(.lm_header):global(.lm_selectable) {
  cursor: pointer;
}

:global(.lm_header) :global(.lm_tab) {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  background: #42454e;
  margin-right: 2px;
  padding-bottom: 4px;
  padding-top: 2px;
}

:global(.lm_header) :global(.lm_tab) :global(.lm_close_tab) {
  width: 11px;
  height: 11px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAATElEQVR4nG3OwQ0DMQwDwZGRBtR/j1YJzMc5+IDoR+yCVO29g+pu981MFgqZmRdAfU7+CYWcbF11LwALjpBL0N0qybNx/RPU+gOeiS/+XCRwDlTgkQAAAABJRU5ErkJggg==);
  background-position: center center;
  background-repeat: no-repeat;
  top: 4px;
  right: 6px;
  opacity: 0.4;
}

:global(.lm_header) :global(.lm_tab) :global(.lm_close_tab):hover {
  opacity: 1;
}

:global(.lm_header) :global(.lm_tab):global(.lm_active) {
  border-bottom: none;
  box-shadow: none;
  padding-bottom: 4px;
}

:global(.lm_header) :global(.lm_tab):global(.lm_active) :global(.lm_close_tab) {
  opacity: 1;
}

:global(.lm_dragProxy):global(.lm_bottom) :global(.lm_header) :global(.lm_tab):global(.lm_active),
:global(.lm_stack):global(.lm_bottom) :global(.lm_header) :global(.lm_tab):global(.lm_active) {
  box-shadow: none;
}

:global(.lm_selected) :global(.lm_header) {
  background-color: #452500;
}

:global(.lm_tab):hover,
:global(.lm_tab):global(.lm_active) {
  background: #1e1e1e;
  color: rgb(252, 189, 63);
}

:global(.lm_header) :global(.lm_controls) :global(.lm_tab)dropdown:before {
  color: #ffffff;
}

:global(.lm_controls) > li {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.4;
  transition: opacity 300ms ease;
}

:global(.lm_controls) > li:hover {
  opacity: 1;
}

:global(.lm_controls) :global(.lm_popout) {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAPklEQVR4nI2Q0QoAIAwCNfr/X7aXCpGN8snBdgejJOzckpkxs9jR6K6T5JpU0nWl5pSXTk7qwh8SnNT+CAAWCgkKFpuSWsUAAAAASUVORK5CYII=);
}

:global(.lm_controls) :global(.lm_maximise) {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKElEQVR4nGP8////fwYCgImQAgYGBgYWKM2IR81/okwajIpgvsMbVgAwgQYRVakEKQAAAABJRU5ErkJggg==);
}

:global(.lm_controls) :global(.lm_close) {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAQUlEQVR4nHXOQQ4AMAgCQeT/f6aXpsGK3jSTuCVJAAr7iBdoAwCKd0nwfaAdHbYERw5b44+E8JoBjEYGMBq5gAYP3usUDu2IvoUAAAAASUVORK5CYII=);
}

:global(.lm_maximised) :global(.lm_header) {
  background-color: #000000;
}

:global(.lm_maximised) :global(.lm_controls) :global(.lm_maximise) {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJ0lEQVR4nGP8//8/AzGAiShVI1YhCwMDA8OsWbPwBmZaWhoj0SYCAN1lBxMAX4n0AAAAAElFTkSuQmCC);
}

:global(.lm_transition_indicator) {
  background-color: #000000;
  border: 1px dashed #555555;
}

:global(.lm_popin) {
  cursor: pointer;
}

:global(.lm_popin) :global(.lm_bg) {
  background: #ffffff;
  opacity: 0.3;
}

:global(.lm_popin) :global(.lm_icon) {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAAWklEQVR4nJWOyw3AIAxDHcQC7L8jbwT3AlJBfNp3SiI7dtRaLSlKKeoA1oEsKSQZCEluexw8Tm3ohk+E7bnOUHUGcNh+HwbBygw4AZ7FN/Lt84p0l+yTflV8AKQyLdcCRJi/AAAAAElFTkSuQmCC);
  background-position: center center;
  background-repeat: no-repeat;
  border-left: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  opacity: 0.7;
}

:global(.lm_popin):hover :global(.lm_icon) {
  opacity: 1;
}