.normal {
    color: #ffffff;
}
.normal-link {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.normal-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.light {
    color: #ffffff;
}
.light-link {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.light-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.dark {
    color: #1E1E1E;
}
.dark-link {
    color: #1E1E1E;
    text-decoration: none;
    cursor: pointer;
}
.dark-link:hover {
    color: #1E1E1E;
    text-decoration: underline;
}


.faded {
    color: #a1a1a1;
}
.faded-link {
    color: #a1a1a1;
    text-decoration: none;
    cursor: pointer;
}
.faded-link:hover {
    color: #a1a1a1;
    text-decoration: underline;
}



.link {
    color: #94C5FF;
}
.link-link {
    color: #94C5FF;
    text-decoration: none;
    cursor: pointer;
}
.link-link:hover {
    color: #94C5FF;
    text-decoration: underline;
}
