
.container {
    background-color: #1E1E1E;
    border: 1px solid #686868;
    border-radius: 4px;

    display: flex;
    flex-direction: row;
}

.itemContainer {
    cursor: pointer;

    position: relative;
    box-sizing: border-box;
}

.selectedItemContainer {
    background: #F2BF58;
    border-radius: 2px;
 }

.innerContainer {
    position: relative;
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.itemImage {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto 0 auto 0;
}