
.itemBlock {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    padding: 10px 30px;
    cursor: pointer;
    height: 50px;
    border-color: #212122;
    border-width: 1px 0 1px 0;
    border-style: solid;
}

.itemLabelNonCollapsed {
    padding-left: 1.5rem!important;
}

.itemLabel {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.tooltipItem {
    display: flex;
    align-items: center;

    position: absolute;
    padding: 5px 10px;
    height: 48px;

    border-radius: 0;

    z-index: 10000;
}

.isActiveItem {
    background-color: #4ecd77;
}

.isCollapsedActiveItem {
    background-color: #4ecd77;
}

.menuItemIcon {
    width: 24px !important;
    height: 24px !important;
}
