.container {
    background: #212122;
    width: 250px;
    height: 100%;
}

.collapsed {
    width: 80px;
}

.header {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    border-bottom: 1px solid #666871;
}

.sectionLabel {
    font-size: 12px;
    line-height: 14px;
    color: #9F9F9F;
    padding: 10px 30px;
    text-transform: uppercase;
}

.itemBlock {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 10px 30px;
    text-transform: uppercase;
    cursor: pointer;
}

.selectedItem {
    background: #4ECD77;
}

.footer {
    border-top: 1px solid #666871;
    padding: 10px 0;
}
