.container {
    background: #212122;
    width: 250px;
    height: 100%;
}

.collapsed {
    width: 80px;
}

.header {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.bar {
    height: 1px;
    width: 100%;
    position: relative;
    background-color: #444;
}
.barLoading:before {
    top: 0;
    left: 0;
    width: 0;
    content: '';
    height: inherit;
    position: absolute;
    background-color: #fbce13;
    animation: barLoading 2500ms linear infinite;
}
@keyframes barLoading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.sectionLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #9f9f9f;
    padding: 10px 30px;
    text-transform: uppercase;
}

.itemBlock {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    padding: 10px 30px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.itemBlock:hover {
    color: white;
}

.selectedItem {
    background: #4ecd77;
}

.footer {
    border-top: 1px solid #666871;
    padding: 10px 0;
}

.beta {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    color: #f2bf58;
    position: absolute;
    right: 0;
}
