.tabsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    display: flex;
    font-size: 20px;
    color: white;
}

.tabWrapper {
    flex-grow: 1;
    flex-shrink: 1;
}

.tab {
    margin-right: 30px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    line-height: 20px;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif !important;
}

.selectedTab {
    color: white !important;
    border-bottom: 1px solid #4ecd77;
    font-weight: bold;
}
