.mobileMenuContainer {
    width: 100vw;
    height: 61px;
    position: absolute;
    flex-shrink: 0;
    flex-grow: 0;

    display: flex;
    flex-direction: column;

    background: #212122;
    color: #ffffff;

    z-index: 5000;
}

.containerExpanded {
    height: 100vh;
}


.content {
    height: 60px;

    flex-shrink: 0;
    flex-grow: 0;

    padding: 10px 15px 10px 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 20px;
}


.header {
    flex-shrink: 0;
    flex-grow: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.space {
    flex-shrink: 1;
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.burgerContainer {
    flex-shrink: 0;
    flex-grow: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.burgerButton {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4e515b;
    border-radius: 3px;
    color: #4e515b;
    background: black;
}


.bar {
    flex-grow: 0;
    flex-shrink: 0;

    height: 1px;
    width: 100%;
    position: relative;
    background-color: #444;
}
.barLoading:before {
    top: 0;
    left: 0;
    width: 0;
    content: '';
    height: inherit;
    position: absolute;
    background-color: #fbce13;
    animation: barLoading 2500ms linear infinite;
}
@keyframes barLoading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


.expandedContent {
    flex-grow: 1;
    flex-shrink: 1;
}

.mainSections {
}

.sectionWrapper {
}

.sectionLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #9f9f9f;
    padding: 10px 30px;
    text-transform: uppercase;
}

.menuItemList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
