
.alertItem {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.alertItem.warn {
    background-image: url('/img/alerts/warn.svg');
}

.alertItem.error {
    background-image: url('/img/alerts/error.svg');
}

.alertItem.info {
    background-image: url('/img/alerts/info.svg');
}