.innerPageContainer {
    max-width: 100%;
    overflow-y: auto;
    margin: 0;
    padding: 40px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    color: #fff!important;
}

.fullHeightPageContainer {
    height: 100%;
}

.innerPageWrapper {
    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.fullHeightPageWrapper {
    height: 100%;
}

.narrowContent {
    max-width: 700px;
}

.midNarrowContent {
    max-width: 1000px;
}

.innerPageHeader {

}

.innerPageContent {
    /* padding: 0; */
    /* width: 100%; */
    flex-grow: 1;
}