.innerPageContainer {
    max-height: 100%;
    max-width: 100%;
    overflow-y: auto;
    margin: 0;
    padding: 40px;

    position: relative;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    color: #fff!important;
}

.fullHeightPageContainer {
    height: 100%;
}

.innerPageWrapper {
    width: 100%;

    position: relative;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.fullHeightPageWrapper {
    height: 100%;
}

.narrowContent {
    max-width: 700px;
}

.midNarrowContent {
    max-width: 1000px;
}

.innerPageHeader {
    position: relative;
    box-sizing: border-box;
}

.innerPageContent {
    position: relative;
    box-sizing: border-box;

    flex-grow: 1;
}

@media screen and (max-width: 1000px) {

    .innerPageContainer {
        padding: 10px;
    }

}