.dnPath {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  font-size: 10px;
  min-height: 32px;
  gap: 4px;

  line-height: 22px;
}

.dnPathKind {
  font-weight: 400;
  font-size: 8pt;
}

.dnPathName {
  font-size: 12pt;
}

.dnPathSeparator {
  background: url("/img/separator.svg") center center no-repeat;
  background-size: 100%;
  text-indent: -5000px;
  width: 6px;
  height: 25px;
  display: block;
}

.dnIconContainer {
  margin-right: 5px;
}
