.severityWrapper {
    display: flex;
    align-items: center;
}

.severity {
    margin-right: 5px;
}

.tooltipAlertContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltipAlertSeverity {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
