.container {
  position: relative;
  height: 100%;
  background: #35373e;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  z-index: 5;
  right: 20px;
  top: 20px;
}

.editorBoxSizeToContent {
  width: 100%;
  height: 100%;
}

.editorBoxSizeToContent .reactCodeMirror {
  width: 100%;
  height: 100%;
}

.reactCodeMirror :global(.CodeMirror) {
  padding: 10px;
}

.container :global(.CodeMirror) {
  background: none !important;
}

.reactCodeMirror span {
  font-family: monospace, 'Source Sans Pro', Helvetica, Arial, sans-serif !important;
}

.reactCodeMirror > div {
  width: 100%;
  height: 100%;
}
