.operationLogDetails {
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 25%;
    min-height: 50px;
    width: 50%;
    background: #212122;
    border-radius: 3px 3px 0 0;
}

.logDetail {
    padding: 0 12px 0 20px;
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 15px;
    line-height: 18px;
}

.expandIcon {
    transform: rotate(270deg);
    width: 30px !important;
    height: 30px;
}

summary::-webkit-details-marker {
    height: 0;
    width: 0;
}

details[open] > summary .expandIcon {
    transform: rotate(90deg);
}

summary:focus {
    outline: 0;
    outline-offset: 0;
}
