
.title {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    font-weight: 600;
}

.message {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    font-weight: 400;
}

