:global(.btn) {
    border-radius: 3px;
    min-width: 160px;
    outline: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
    font-weight: bold;
    padding: 10px 0;
}

:global(.btn:focus) {
    outline: none;
}

.success {
    background: #4ecd77;
    border: none;
}

.success a {
    color: white;
}

.danger {
    color: #f34c4c;
    font-weight: normal;
    border-radius: 3px;
}

.danger a {
    color: #f34c4c;
}

.danger:hover {
    color: #bd3535;
    font-weight: normal;
}

.ghost {
    background: #2f3036;
}

.ghost a {
    color: white;
}

.ghost:hover {
    background: #4f4f53;
}

.dark {
    background: #656565;
    color: black;
}

.dark a {
    color: black;
}

.spacingRight {
    margin-right: 20px;
}

.spacingLeft {
    margin-left: 20px;
}

.bordered.ghost {
    border: 1px solid #ffffff;
}

.bordered.ghost:hover {
    border: 1px solid #ffffff;
}

.bordered.danger {
    border: 1px solid #ff5252;
}

.filled.danger {
    background: #ff5252;
    color: white;
    font-weight: bold;
}
