.container:first-child {
    color: white;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.input {
    background: #2F3036;
    border: 1px solid #656565;
    border-radius: 3px;
    width: 100%;
    padding: 8px;
    font-size: 15px;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-top: 5px;
    outline: none;
}

.hasError {
    border-color: #FF5858;
}
